/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.logohead {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 40px;
}

.jumbo {
  margin-bottom: 20px;
  width: 100%;
}

.nav a {
  margin: 0px 40px;
  font-size: 14px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav a:hover {
  opacity: 0.5;
}

.top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.top-content .text-container {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;
}

.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}

.middle-content h2 {
  padding: 0 2%;
  margin-bottom: 0;
}

.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.middle-content .boxes .box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10 {
  width: 12.5%;
  height: 100px;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1 {
  background-color: teal;
}
.box2 {
  background-color: gold;
}
.box3 {
  background-color: cadetblue;
}
.box4 {
  background-color: coral;
}
.box5 {
  background-color: crimson;
}
.box6 {
  background-color: forestgreen;
}
.box7 {
  background-color: darkorchid;
}
.box8 {
  background-color: hotpink;
}
.box9 {
  background-color: indigo;
}
.box10 {
  background-color: dodgerblue;
}

.bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}

.bottom-content .text-container {
  padding-right: 4%;
}

.bottom-content .text-container:last-child {
  padding-right: 0;
}

footer {
  width: 100%;
  background: black;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

footer nav a {
  color: white;
  text-decoration: none;
}

.jimbo {
  margin-bottom: 20px;
}

.about {
  margin-bottom: 20px;
  margin-left: 20px;
}

.middle {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.strategy {
  width: 50%;
}

.work {
  width: 50%;
}

.office {
  width: 50%;
}

.meeting {
  width: 50%;
}

.hrdot {
  border: none;
  border-top: 1px dashed;
  background-color: #fff;
  height: 1px;
  width: 91%;
  margin-bottom: 60px;
  float: left;
}

.hrdot1 {
  border: none;
  border-top: 1px dashed;
  background-color: #fff;
  height: 3px;
  width: 100%;
}

.middle h3 {
  margin-top: 10px;
}
.middle p {
  margin-bottom: 20px;
}

button {
  margin-bottom: 10px;
  border: 1.5px solid black;
  border-radius: 10px;
  background-color: white;
  width: 128px;
  height: 38px;
  font-size: 16px;
  cursor: pointer;
}

.together {
  margin-left: 20px;
  margin-bottom: 40px;
}

.contactcus {
  margin-bottom: 20px;
}

.hr3 {
  margin-bottom: 50px;
}

.form {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30%;
}

input[type="text"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

input[type="email"]:focus {
  border: 3px solid #555;
}

input[type="email"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  margin-left: 40px;
}

.message:focus {
  background-color: lightblue;
}

.message {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.messlabel {
  display: flex;
  width: 20%;
}
.contactq {
  text-align: center;
}
